<div>
    <h2 id="page-heading">
        <span jhiTranslate="shedulingSolutionApp.recipient.home.title">Recipients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipient" [routerLink]="['/recipient/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="shedulingSolutionApp.recipient.home.createLabel">
            Create a new Recipient
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recipients?.length === 0">
        <span jhiTranslate="shedulingSolutionApp.recipient.home.notFound">No recipients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recipients && recipients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="shedulingSolutionApp.recipient.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="shedulingSolutionApp.recipient.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="shedulingSolutionApp.recipient.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="shedulingSolutionApp.recipient.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="report.id"><span jhiTranslate="shedulingSolutionApp.recipient.report">Report</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipient of recipients ;trackBy: trackId">
                    <td><a [routerLink]="['/recipient', recipient.id, 'view']">{{ recipient.id }}</a></td>
                    <td>{{ recipient.name }}</td>
                    <td>{{ recipient.email }}</td>
                    <td>{{ recipient.address }}</td>
                    <td>{{ recipient.phone }}</td>
                    <td>
                        <div *ngIf="recipient.report">
                            <a [routerLink]="['/report', recipient.report?.id, 'view']" >{{ recipient.report?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/recipient', recipient.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/recipient', recipient.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recipient)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="recipients && recipients.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
